<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IUserMapper">
	<!-- 아이디 비밀번호 -->
	<select id="getLoginInfo" resultType="UserInfoDTO">
		SELECT
		EMAIL,
		USER_NAME,
		PASSWORD
		FROM USER_INFO
		WHERE 
		EMAIL = #{email} AND PASSWORD = #{password}
	</select>
	<select id="getMyList" resultType="MyPageDTO">
		SELECT
		G.file_name, 
		G.gal_nb,
		G.gal_rep,
		G.email
		FROM 
		GALTABLE G,
		USER_INFO U
		WHERE 
		U.email = G.EMAIL or G.EMAIL='root' and G.gal_nb>='0'ORDER BY G.gal_nb DESC
	</select>
</mapper>